body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin-top: 70px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    margin-bottom: 30px;
    font-size: 1.75rem;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 12px;
    border-radius: 13px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body {
    padding: 2rem;
}

.btn-block {
    width: 100%;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 0.25rem;
}

.container {
    max-width: 900px;
    margin: auto;
}

.add-to-cart {
    width: 100%;
    margin-top: 10px;
}

.title-card{
    width: 100%;
    text-align: center;
    font-size: 47px;
}
.login-btn{
    width: 100%;
    font-size: 19px;
    padding: 15px 0px;
}
.login-btn2{
    width: 100%;
    font-size: 19px;
    padding: 15px 0px;
    background-color: white;
    color: #0000005e;
    margin: 15px 0px;
    border-color: #0000003d;
}


